body {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.greeting {
    margin-right: auto;
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

button {
    border: none;
    background-color: pink;
    /* padding: 5px 10px;
    border-radius: 40px; */
}

.heartbutton {
    height: 50px;
    width: 50px;
}

.baseball {
    height: 300px;
    width: auto;
}

.footer {
    width: 350px;
    /* justify-content: center; */
}

.me-pic {
    height: 500px;
    width: auto;
}

.intro {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px ;
}

.container-two {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.container-three {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    gap: 40px;
    align-items: center;
}

.image-one,
.image-two,
.image-three,
.image-four,
.image-five {
    height: auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0;
}

.images {
    display: flex;
    font-size: 20px;
    height: auto;
    width: auto;
    /* gap: 35px; */
    flex-wrap: wrap;
    justify-content: center;
    Flex: 1;
}

.valentines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    flex: 1;
    flex-wrap: wrap;
}

p {
    font-size: 30px;
}

.start-over {
    border-radius: 50px;
    padding: 3px;
    border: 2px hotpink solid;
    margin-bottom: 20px;
}